Videogame*Design*and*Programming/*/Library
Videogame*Design*and*Programming/*/Logs
Videogame*Design*and*Programming/*/Packages
Videogame*Design*and*Programming/*/Temp
Videogame*Design*and*Programming/*/UserSettings
Videogame*Design*and*Programming/*/.vsconfig